header {
    background-color: black;
    max-height: 200px;
    text-align: center;
    padding: 30px;
}

header > p > a:hover {
    text-decoration: underline;
}

section {
    padding-left: 30px;
    padding-top: 10vh;
    padding-bottom: 10vh;
}

section.foto > p {
    background-color: rgba(0, 0, 0, 0.39);
    color: white;
    display: inline-block;
    padding: 5px;
}

section > p {
    padding-top: 2em;
}

.foto {
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.432);
    background-image: url(imagens/background001.jpg);
    background-position:  right center;
    background-size: cover;
    background-attachment: fixed;
}

.foto.-second {
    background-image: url(imagens/background002.jpg);
    background-position: left center;
}

footer {
    padding: 10px;
    text-align: center;
    color: white;
    background-color: black;
}