header {
    background-color: black;
    max-height: 200px;
    text-align: center;
    padding: 30px;
}

h1 {
    font-weight: lighter;
    color: white;
    font-size: 7vw
}

header > p {
    color: white;
    font-size: larger;
}

header > p > a {
    text-decoration: none;
    font-weight: bold;
    color: white;
}

header > p > a:hover {
    text-decoration: underline;
}

main > p {
    padding: 90px 30px;
    
}

.foto {
    background-image: url(imagens/background001.jpg);
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}

.foto.-second {
    background-image: url(imagens/background002.jpg);
}

footer {
    padding: 10px;
    text-align: center;
    color: white;
    background-color: black;
}