* {
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

img {
    width: 100vw;
}

a {
    display: block;
    text-decoration: none;
    text-align: center;
    background-color: rgb(121, 9, 9);
    padding: 10px;
    color: white;
    font-weight: bolder
}

a:hover {
    background-color: rgb(194, 8, 8);
}
